proyefinal2023/.devcontainer/devcontainer.json
proyefinal2023/.devcontainer/Dockerfile
proyefinal2023/.vscode/c_cpp_properties.json
proyefinal2023/.vscode/launch.json
proyefinal2023/.vscode/settings.json
proyefinal2023/.vscode/tasks.json
